<div class="row-fluid">
  <ul class="thumbnails">
    <% collection.each do |thing| %>
      <li class="span6">
        <div class="thumbnail">
          <img src="<%= dummy_image_src %>">
          <div class="caption">
            <h3>
              <span class="badge badge-info">#<%= thing.position %></span>
              <%= link_to thing.name, thing %>
            </h3>
            <p>
              <% if thing.position == 1 %>
                <%= link_to "<span class=\"icon icon-trophy\"></span> The Best Thing In The World".html_safe, move_up_thing_path(thing, page: params[:page]), method: "put", class: 'btn btn-primary disabled' %>
              <% else %>
                <%= link_to "<span class=\"icon icon-trophy\"></span> Move Up".html_safe, move_up_thing_path(thing, page: params[:page]), method: "put", class: 'btn btn-primary' %>
              <% end %>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= will_paginate collection %>