<%- model_class = Thing -%>
<div class="alert alert-error">
  <strong>The Fight for Best!</strong>. You're looking at the Internet's only ranking of any<strong>thing</strong> and every<strong>thing</strong>. The leaderboard is built based from the community's <%= link_to "comparisons", user_assigned_things_comparision_path("me") %>.
</div>

<div class="page-header">
  <h1>Leaderboard</h1>
</div>

<% @things.each do |thing| %>
  <div class="row-fluid">
    <div class="alert alert-block clearfix">
      <div class="span1"><%= link_to(image_tag(thing.image.url(:small)), thing) %></div>
      <div class="span11">
        <h4>
          <%= link_to thing.name, thing %>
        </h4>
        <small><span class="label label-inverse">Average Ranking: <%= thing.average_position %></span></small>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate collection %>