<%- model_class = Thing -%>
<div class="page-header">
  <h1>
    <%= resource.name %> 
    <small>(#<%= resource.position %> of <%= Thing.count %> )</small>
  </h1>
</div>

<%= simple_form_for resource, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :tag_list %>
<% end %>

<h2>History</h2>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <td>Rank</td>
      <td>User</td>
      <td>Changed</td>
    </tr>
  </thead>
  <tbody>
    <% resource.versions.reorder{ created_at.desc }.each do |version| %>
      <% thing = YAML::load(version.object) rescue nil %>
      <% if thing %>
        <tr>
          <td class="count"><%= thing['position'].to_i %></td>
          <td><%= User.where{ id == my{version.whodunnit} }.first.try(:to_s) || 'Anonymous' %></td>
          <td><time class="convert"><%=l version.created_at %></time></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if can?(:update, resource) || can?(:destroy, resource) %>
  <div class="form-actions">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_thing_path(@thing), :class => 'btn' if can?(:update, resource) %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                thing_path(@thing),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' if can?(:destroy, resource) %>
  </div>
<% end %>