<%= simple_form_for @picked_matchup, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :matchup_id %>
  <%= f.input :thing_id %>
  <%= f.input :user_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                picked_matchups_path, :class => 'btn' %>
  </div>
<% end %>
