<% if parent.assigned_things.count == 0 %>
  <div class="alert alert-error alert-block">
    <h4>Right On!</h4>
    <p>We're building you your own <strong>personal</strong> list of things!... But it takes a minute.</p>
    <p>Refresh this page in like 30 seconds, and you'll be in the game!</p>
  </div>
<% else %>
  
  <% if current_user.try(:assigned_things).try(:count) == 0 || current_user.try(:assigned_things).try(:count).nil? %>
    <div class="alert alert-error alert-block">
      <h4>It's Simple!</h4>
      <p>Just click the button for the thing that you think is better! Or use the navigation below to jump to another matchup.</p>
      <p>Go through each matchup until you've created your hierarchy of things. Each matchup you decide affects <%= link_to "your leaderboard", user_assigned_things_path("me") %> and the <%= link_to "Overall Leaderboard", things_url %>.</p>
      <p>Are we missing something? <strong><%= link_to "Add it!", new_thing_path %></strong></p>
    </div>
  <% end %>
  
  <%= link_to("Connect with Facebook", oauth_user_path("me"), class: 'btn btn-danger') unless current_user.try(:facebook_access_token) %>

  <div class="row-fluid">
    <ul class="thumbnails">
      <% collection.each do |assigned_thing| %>
        <li class="span6">
          <div class="thumbnail">
            <%= image_tag assigned_thing.thing.image.url %>
            <div class="caption clearfix">
              <h3>
                <span class="badge badge-info">#<%= assigned_thing.position %></span>
                <%= link_to assigned_thing.thing.name, assigned_thing.thing %>
              </h3>
            </div>
          </div>
          <% if assigned_thing.position == 1 %>
            <%= link_to "<span class=\"icon icon-trophy\"></span> The Best Thing In The World".html_safe, move_up_user_assigned_thing_path("me",assigned_thing, return_to: request.url), method: "put", class: 'btn btn-primary disabled span12  btn-large' %>
          <% else %>
            <%= link_to "#{assigned_thing} is Better".html_safe, move_up_user_assigned_thing_path("me",assigned_thing, page: (params[:page].to_i + 1).to_s, compared_to: @comparison_collection.first.try(:thing_id)), method: "put", class: 'btn btn-primary span12 btn-large' %>
          <% end %>
        </li>
      <% end %>
    
      <% @comparison_collection.each do |assigned_thing| %>
        <li class="span6">
          <div class="thumbnail">
            <%= image_tag assigned_thing.thing.image.url %>
            <div class="caption clearfix">
              <h3>
                <span class="badge badge-info">#<%= assigned_thing.position %></span>
                <%= link_to assigned_thing.thing.name, assigned_thing.thing %>
              </h3>
            </div>
          </div>
          <% if assigned_thing.position == 1 %>
            <%= link_to "<span class=\"icon icon-trophy\"></span> The Best Thing In The World".html_safe, move_up_user_assigned_thing_path("me",assigned_thing, return_to: request.url), method: "put", class: 'btn btn-primary disabled span12 btn-large' %>
          <% else %>
            <%= link_to "#{assigned_thing} is Better".html_safe, user_assigned_things_comparision_path("me",page: (params[:page].to_i + 1).to_s, compared_to: collection.first.try(:thing_id)), class: 'btn btn-primary span12 btn-large' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <!-- Tags: <%= raw Tag.all.map(&:name).join(', ') %> -->
  
  <%= link_to "Random Matchup", user_assigned_things_comparision_path("me",page: (rand(Thing.count) + 1).to_s), class: 'btn btn-primary btn-large' %>
  
  <%= will_paginate collection %>
<% end %>