<%- model_class = Thing -%>
<div class="alert alert-error">
  You're leaderboard ranks the comparisons you've made. The things you like best are listed first and the things you like least are listed last. Feel free to rearrange things here by <strong>clicking and dragging the rows</strong> or with <%= link_to "comparisons", user_assigned_things_comparision_path("me") %>.
</div>

<div class="page-header">
  <h1>
    <% if current_user == parent %>
      My Leaderboard
    <% else %>
      <%= parent.name.possessive %> Leaderboard
    <% end %>
  </h1>
</div>

<table class="table table-striped" style="height: 2000px;">
  <thead>
    <tr>
      <th>#</th>
      <th>Thing</th>
      <th>Overall</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="assigned-things-rows" class="sortable">
    <% @assigned_things.each do |assigned_thing| %>
      <tr data-object-url="<%= move_up_user_assigned_thing_path("me",assigned_thing) %>">
        <td><%= assigned_thing.position %></td>
        <td><%= link_to assigned_thing.thing, assigned_thing.thing %></td>
        <td><%= assigned_thing.thing.average_position %></td>
        <td>
          <% if can?(:move_up, assigned_thing) && assigned_thing.position > 1 %>
            <%#= link_to "<span class=\"icon icon-arrow-up\"></span> Move Up".html_safe, move_up_user_assigned_thing_path("me",assigned_thing, return_to: request.url), method: "put", class: 'btn btn-primary btn-mini' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate collection %>