<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "The Best Thing In The World" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The Best Thing In The World" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row-fluid">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <footer class="main">
      <div class="container">
        <p>Designed and developed by <a href="http://gunnertech.com">Gunner Technology</a>.</p>
        <p>
          <%= link_to "Feedback", "" %> |
          <%= link_to "Privacy Policy", "" %> |
          <%= link_to "Terms of Service", "" %> |
          <%= link_to "License our Content", "" %> |
          <%= link_to "Media Kit", "" %> |
          <%= link_to "About Us", "" %>
        </p>
        
        <p><%= t(:copyright) %> &#169; Gunner Technology <%= t(:all_rights_reserved)%>.</p>
      </div>
    </footer>
  </body>
</html>
